/* Atomic
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*build skeleton set css*/
:root
  --fr
    float: right

  --fl
    float: left

  /*display element*/
  --dn
    display: none

  --di
    display: inline

  --dib
    display: inline-block

  --db
    display: block

  /*margin*/
  --mga5p
    margin: 5px

  --mgt5p
    margin-top: 5px

  --mgr5p
    margin-right: 5px

  --mgb5p
    margin-bottom: 5px

  --mgl5p
    margin-left: 5px

  --mga10p
    margin: 10px

  --mgt10p
    margin-top: 10px

  --mgr10p
    margin-right: 10px

  --mgb10p
    margin-bottom: 10px

  --mgl10p
    margin-left: 10px

  /*background .bg-[color name in _color.css]*/
  --bg-primary
    background-color: var(--color-primary)

  --bg-secondary
    background-color: var(--color-secondary)

  --bg-navy
    background-color: var(--color-navy)

  --bg-blue
    background-color: var(--color-blue)

  --bg-aqua
    background-color: var(--color-aqua)

  --bg-teal
    background-color: var(--color-teal)

  --bg-olive
    background-color: var(--color-olive)

  --bg-green
    background-color: var(--color-green)

  --bg-lime
    background-color: var(--color-lime)

  --bg-yellow
    background-color: var(--color-yellow)

  --bg-orange
    background-color: var(--color-orange)

  --bg-red
    background-color: var(--color-red)

  --bg-maroon
    background-color: var(--color-maroon)

  --bg-fuchsia
    background-color: var(--color-fuchsia)

  --bg-purple
    background-color: var(--color-purple)

  --bg-black
    background-color: var(--color-black)

  --bg-gray
    background-color: var(--color-gray)

  --bg-silver
    background-color: var(--color-silver)

  /*color*/
  --cl-primary
    color: var(--color-primary)

  --cl-secondary
    color: var(--color-secondary)

  --cl-navy
    color: var(--color-navy)

  --cl-blue
    color: var(--color-blue)

  --cl-aqua
    color: var(--color-aqua)

  --cl-teal
    color: var(--color-teal)

  --cl-olive
    color: var(--color-olive)

  --cl-green
    color: var(--color-green)

  --cl-lime
    color: var(--color-lime)

  --cl-yellow
    color: var(--color-yellow)

  --cl-orange
    color: var(--color-orange)

  --cl-red
    color: var(--color-red)

  --cl-maroon
    color: var(--color-maroon)

  --cl-fuchsia
    color: var(--color-fuchsia)

  --cl-purple
    color: var(--color-purple)

  --cl-black
    color: var(--color-black)

  --cl-gray
    color: var(--color-gray)

  --cl-silver
    color: var(--color-silver)

  /*border-radius*/
  --br50c
    border-radius: 50%

  /*width*/
  --w30p
    width: 30px

  /*height*/
  --h30p
    height: 30px


  /* Clear a float with .clearfix */
  --cf
    *zoom: 1

    &:after,
    &:before
      content: ''
      display: table


    &:after
      clear: both


/* Float either direction */
.fr
  @apply --fr

.fl
  @apply --fl

/*display element*/
.dn
  @apply --dn

.di
  @apply --di

.dib
  @apply --dib

.db
  @apply --db

/*margin*/
.mga5p
  @apply --mga5p

.mgt5p
  @apply --mgt5p

.mgr5p
  @apply --mgr5p

.mgb5p
  @apply --mgb5p

.mgl5p
  @apply --mgl5p

.mga10p
  @apply --mga10p

.mgt10p
  @apply --mgt10p

.mgr10p
  @apply --mgr10p

.mgb10p
  @apply --mgb10p

.mgl10p
  @apply --mgl10p


/*background .bg-[color name in _color.css]*/
.bg-primary
  @apply --bg-primary

.bg-secondary
  @apply --bg-secondary

.bg-navy
  @apply --bg-navy

.bg-blue
  @apply --bg-blue

.bg-aqua
  @apply --bg-aqua

.bg-teal
  @apply --bg-teal

.bg-olive
  @apply --bg-olive

.bg-green
  @apply --bg-green

.bg-lime
  @apply --bg-lime

.bg-yellow
  @apply --bg-yellow

.bg-orange
  @apply --bg-orange

.bg-red
  @apply --bg-red

.bg-maroon
  @apply --bg-maroon

.bg-fuchsia
  @apply --bg-fuchsia

.bg-purple
  @apply --bg-purple

.bg-black
  @apply --bg-black

.bg-gray
  @apply --bg-gray

.bg-silver
  @apply --bg-silver

/*color*/
.cl-primary
  @apply --cl-primary

.cl-secondary
  @apply --cl-secondary

.cl-navy
  @apply --cl-navy

.cl-blue
  @apply --cl-blue

.cl-aqua
  @apply --cl-aqua

.cl-teal
  @apply --cl-teal

.cl-olive
  @apply --cl-olive

.cl-green
  @apply --cl-green

.cl-lime
  @apply --cl-lime

.cl-yellow
  @apply --cl-yellow

.cl-orange
  @apply --cl-orange

.cl-red
  @apply --cl-red

.cl-maroon
  @apply --cl-maroon

.cl-fuchsia
  @apply --cl-fuchsia

.cl-purple
  @apply --cl-purple

.cl-black
  @apply --cl-black

.cl-gray
  @apply --cl-gray

.cl-silver
  @apply --cl-silver

/*border*/
.br50c
  @apply --br50c
/* Clear a float with .clearfix */

/*width*/
.w30p
  @apply --w30p

/*height*/
.h30p
  @apply --h30p
.cf
  @apply --cf
