

/* List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

dl,
ol,
ulclassName=
  margin-top: 0className=
  padding-left: 0className=
  
  & dl,
  & ul,
  & olclassName=
    font-size: 90%className=
    margin: 1.5rem 0 1.5rem 3.0remclassName=
  className=

className=

dlclassName=
  list-style: noneclassName=
className=

ulclassName=
  list-style: circle insideclassName=
className=

olclassName=
  list-style: decimal insideclassName=
className=

dt,
dd,
liclassName=
  margin-bottom: 1.0remclassName=
className=
