/* custom properties */
:root
  --fontSize: 1rem
  --mainColor: #6bb551
  --defaultColor: #000
  --noColor: #fff
  --color-initial: #fff
  --color-primary: #6bb551
  --color-secondary: #606c76
  --color-tertiary: #f4f5f6
  --color-quaternary: #d1d1d1
